

.parallax-container {
    height: 40rem;
  }

  #about {
    background-image: url("/images/trail_header2.jpg");
    background-size: cover;
  }

  #monthly_article {
    background-image: url("/images/trail_header2.jpg");
    background-size: cover;
    height: 55rem;
  }
 
  #first-aid {
    background-image: url("/images/trail_header2.jpg");
    background-size: cover;
  }

  #navigation {
    background-image: url("/images/trail_header2.jpg");
    background-size: cover;
  }